<img class="img-center" src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
   <link rel="stylesheet" href="reset-password.component.css">
 </head>
 <body>
   <div class="center">
     <h1>Reset Password</h1>
     <form id="reset-password-form" [formGroup]="resetPasswordForm">
       <div class="form-group">
         <input type="email" class="form-control" formControlName="email" id="inputEmail" placeholder="Enter email">
         <span></span>
         <label for="inputEmail">Please enter a valid email</label>
       </div>
       <br>
       <div class="input-required">
       <span class="text-danger" *ngIf="resetPasswordForm.controls['email'].dirty && resetPasswordForm.hasError('required','email')">*Email is required</span>
       </div>
       <div class="form-group">
         <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Password">
         <span></span>
         <label for="inputPassword">Please enter your new password</label>
       </div>
       <br>
       <div class="input-required">
        <span class="text-danger" *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')">*Password is required</span>
       </div>
       <br>
       <div class="pass">
         <button mat-button class="changepassbtn" (click)="changePass()">Change Password</button>
       </div>
     </form>
   </div>
 
 </body>
</html>